.sticky-container{
    padding: 10px 20px;
    width: 75vw;
    height: 80vh;
}
.sticky-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sticky-header h3{
    font-size: 25px;
    /* color: #fff; */
    color: #040404;
}
.sticky-create-btn button {
    border: none;
    background-color: #040404;
    /* background-color: #fff; */
    color: #fff;
    /* color: #040404; */
    padding: 8px 15px;
    font-size: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}
.sticky-create-link{
    color: #fff;
    text-decoration: none;
}
.sticky-body{
    display: flex;
    /* justify-content: space-around; */
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    margin: 20px 20px 0px 0px;
}
.sticky-note-div{
    width: 200px;
    margin: 10px;
    background-color: #242424;
    /* background-color: #fff; */
    height: 200px;
    border-radius: 10px;
    position: relative;
    padding: 10px 20px 10px 20px;
}
.sticky-note{
    text-decoration: none;
    /* color: #040404; */
}
.sticky-note h4{
    height: 24px;
    overflow-x: scroll;
}
.sticky-note i{
    font-size: 15px;
}
.sticky-note-p{
    margin: 8px 0px 0px 0px;
    width: 100%;
    height: 100px;
    font-size: 12px;
    overflow: scroll;
}
.sticky-note-p::-webkit-scrollbar, .sticky-note h4::-webkit-scrollbar {
    display: none;
  }
.sticky-note-bottom p{
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 10px;
}
.sticky-note-bottom button{
    position: absolute;
    right: 20px;
    bottom: 10px;
    background: transparent;
    border: none;
    /* color: #040404; */
}
.sticky-edit-link{
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    right: 55px;
}
.sticky-note-bottom i{
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width : 1050px) {
    .sticky-container{
        width: 100vw;
    }
}

@media screen and (max-width : 850px) {
    .sticky-note-div{
        width: 170px;
        height: 170px;
    }
    .sticky-note h4{
        font-size: 14px;
        height: 20px;
    }
    .sticky-note i{
        font-size: 12px;
    }
    .sticky-note-p{
        margin: 8px 0px 0px 0px;
        width: 100%;
        height: 100px;
        font-size: 12px;
    }
    .sticky-note-bottom i{
        font-size: 14px;
    }
    .sticky-note-bottom p{
        font-size: 8px;
    }
}
@media screen and (max-width : 850px) {
    .sticky-note-div{
        width: 120px;
        height: 120px;
        padding: 10px 10px 10px 10px;
    }
    .sticky-note h4{
        font-size: 12px;
        height: 15px;
    }
    .sticky-note i{
        font-size: 10px;
    }
    .sticky-note-p{
        margin: 4px 0px 0px 0px;
        width: 100%;
        height: 100px;
        font-size: 10px;
    }
    .sticky-note-bottom i{
        font-size: 12px;
        bottom: 8px;
    }
    .sticky-note-bottom p{
        font-size: 6px;
    }
    .sticky-note-bottom p{
        position: absolute;
        left: 10px;
        bottom: 9px;
        color: #fff;
    }
    .sticky-note-bottom button{
        position: absolute;
        right: 10px;
        bottom: 8px;
        background: transparent;
        border: none;
        color: #fff;
        /* color: #040404; */
    }
    .sticky-edit-link{
        color: #fff;
        text-decoration: none;
        position: absolute;
        bottom: 8px;
        right: 30px;
    }
    .sticky-header h3{
        font-size: 20px;
    }
    .sticky-create-btn button {
        padding: 5px 12px;
        font-size: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 130px;
    }
}